logs
project/project
project/target
target
tmp
.history
.cache
.worksheet
*.sc
dist
/.idea
/*.iml
/out
/bin
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/*.sublime-project
*.db
*.db.old
