@(text:String, hasChild:Boolean=false)

<p class="hierarchy-item-row">
    <a class="hierarchy-move-handle">
        <span class="glyphicon glyphicon-align-justify invisible"></span>
    </a>
    <span class="glyphicon glyphicon-triangle-bottom @{if(hasChild) "" else "invisible"}" onclick="$(this).toggleClass('glyphicon-triangle-bottom glyphicon-triangle-right');"></span>

    <span class="hierarchy-item-row-body">
        <span class="hierarchy-item-row-text">@text</span>
        <a>
            <span class="glyphicon glyphicon-blackboard invisible"></span>
        </a>
        <a>
            <span class="glyphicon glyphicon-option-horizontal invisible pull-right"></span>
        </a>
    </span>
</p>