@()

<div ng-controller="InboxController">

    <h5>Inbox</h5>

    <div class="content">
        <div ui-tree="treeOptions" class="hierarchy">
            <ul ui-tree-nodes ng-model="tasks" class="hierarchy">
                <li ui-tree-node ng-repeat="task in tasks" class="hierarchy-item" ng-include="'task-hierarchy.html'"></li>
            </ul>
        </div>

        <div ng-if="tasks.length == 0">
            You have no tasks to display
        </div>
        <br/>
        <div>
                <!--<p class="text-primary"><a href="javascript:alert('TODO')">+ Add Task</a></p>-->
            <p><!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskform-modal" ng-click="openNewTaskForm()">-->
                <button type="button" class="btn btn-primary" ng-click="createInplaceTaskForm()" ng-show="addTaskEnabled">
                    + Add Task</button></p>
        </div>
    </div>
</div>
