@(todoTree:TodoTree)

@projectName(todoNode:TodoNode) = @{
    todoNode.todo match {
        case Some(todo) => todo.name
        case None => "Uncategorized"
    }
}

<ul class="list-group">

    @if(!todoTree.children.isEmpty) {
        @for(project <- todoTree.children) {
            <li class="list-group-item">@projectName(project)
                @if(!project.children.isEmpty) {
                    <ul>
                    @for(subproject <- project.children) {
                        <li>@projectName(subproject)</li>
                    }
                    </ul>
                }
            </li>
        }
    } else {
        <p>You have no project or todo yet</p>
    }

        <!--
    <li class="list-group-item">Health</li>
    <li class="list-group-item">Administrative</li>
    <li class="list-group-item"><span class="caret"></span> Code
        <ul>
            <li class="active">Willing.to.do</li>
            <li>Infinite Wall</li>
        </ul>
    </li>
    -->
</ul>