@()
<div ng-controller="ProjectController">

    <script type="text/ng-template" id="project-hierarchy.html">
        <a ng-class="{selected: isCurrentProject(project)}" ng-click="setCurrentProject(project.id)" ng-cloak>{{project.name}}</a>
        <ul ng-if="typeof(project.children) != 'undefined' && project.children.length > 0">
            <li ng-repeat="project in project.children" ng-include="'project-hierarchy.html'"></li>
        </ul>
    </script>

    <ul class="list-group" ng-if="projects.length > 0">
        <li ng-repeat="project in projects" class="list-group-item" ng-include="'project-hierarchy.html'"></li>

    </ul>

    <p ng-if="projects.length == 0">You have no project or task yet</p>
    @*<p><button type="button" class="btn btn-primary">+ Add Project</button></p>*@
</div>

