@()
<div ng-controller="TaskCtrl">
    <ol class="breadcrumb">
        <li ng-repeat="ancestor in ancestors" ng-class="{'active':$last}">
            <a ng-if="!$last" href="#">{{ancestor.name}}</a>
            <span ng-if="$last">{{ancestor.name}}</span>
        </li>
    </ol>

    <div id="content">
        <!-- header for each category (if exists) -->
        <!-- list up (hiearchical structure) of todos -->

        <!-- Display todo-->
        <div>
            <script type="text/ng-template" id="hierarchy-item.html">
                <a class="hierarchy-move-handle">
                    <span class="glyphicon glyphicon-align-justify invisible"></span>
                </a>
                <span class="glyphicon glyphicon-triangle-bottom" ng-if="task.children.length > 0" onclick="$(this).toggleClass('glyphicon-triangle-bottom glyphicon-triangle-right');"></span>
                <span class="glyphicon glyphicon-triangle-bottom invisible" ng-if="task.children===undefined || task.children.length == 0" onclick="$(this).toggleClass('glyphicon-triangle-bottom glyphicon-triangle-right');"></span>


                <span class="hierarchy-item-row-body">
                <span class="hierarchy-item-row-text">{{task.name}}</span>
                <a><span class="glyphicon glyphicon-blackboard invisible"></span></a>
                <a><span class="glyphicon glyphicon-option-horizontal invisible pull-right"></span></a>
                </span>
            </script>

            <script type="text/ng-template" id="hierarchy.html">
                <p ng-include="'hierarchy-item.html'" class="hierarchy-item-row"></p>
                <ul ng-if="task.children.length > 0" class="hierarchy">
                    <li ng-repeat="task in task.children" class="hierarchy-item" ng-include="'hierarchy.html'"></li>
                </ul>
            </script>

            <div ng-if="tasks.length > 0" class="hierarchy">
                <ul class="hierarchy">
                    <li ng-repeat="task in tasks" ng-include="'hierarchy.html'"></li>
                </ul>
            </div>
            <div ng-if="tasks.length == 0">
                You have no tasks to display
            </div>
        </div>

        <div>
                <!--<p class="text-primary"><a href="javascript:alert('TODO')">+ Add Task</a></p>-->
            <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#todoform-modal">
                + Add Task</button></p>
        </div>
    </div>
</div>
