@()
<div ng-controller="TaskCtrl">
    <ol class="breadcrumb">
        <li ng-repeat="item in breadcrumb" ng-class="{'active':$last}">
            <a ng-if="!$last" href="#" ng-cloak>{{item.name}}</a>
            <span ng-if="$last" ng-cloak>{{item.name}}</span>
        </li>
    </ol>

    <div id="content">
        <!-- header for each category (if exists) -->
        <!-- list up (hiearchical structure) of todos -->
        <script type="text/ng-template" id="hierarchy-item.html">
            <a class="hierarchy-move-handle" ui-tree-handle><span class="glyphicon glyphicon-align-justify invisible"></span></a>
            <span ng-class="['glyphicon', collapsed ? 'glyphicon-triangle-right' : 'glyphicon-triangle-bottom']" ng-if="task.children.length > 0"  ng-click="toggle()"></span>
            <span class="glyphicon glyphicon-stop" ng-if="task.children===undefined || task.children.length == 0"></span>

            <!-- consolidated task -->
            <span class="hierarchy-item-row-body" ng-if="task.id > 0">
                <span class="hierarchy-item-row-text" ng-cloak>{{task.name}}</span>
                <a><span class="glyphicon glyphicon-blackboard invisible"></span></a>

                <span class="dropdown pull-right">
                <a href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-option-horizontal invisible"></span>
                </a>

                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="javascript:void(0);" ng-click="deleteTask(task.id)">Delete</a></li>
                </ul>
                </span>
            </span>

            <!-- pending task -->
            <span class="hierarchy-item-row-body" ng-if="task.id <= 0">
                <input id="task-inplace-form" class="hierarchy-item-row-text" type="text" ng-model="formTask.tempName" ng-keypress="($event.which === 13 && confirmCreateNewTask())">
                <span class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-success" ng-click="confirmCreateNewTask()">Confirm</button>
                    <button type="button" class="btn btn-sm btn-default">Cancel</button>
                </span>
            </span>
        </script>

        <script type="text/ng-template" id="hierarchy.html">
            <div class="tree-node tree-node-content">
                <p  class="hierarchy-item-row" ng-include="'hierarchy-item.html'"></p>
                <ul ui-tree-nodes ng-model="task.children" class="hierarchy" ng-show="!collapsed">
                    <li ui-tree-node ng-repeat="task in task.children" class="hierarchy-item" ng-include="'hierarchy.html'"></li>
                </ul>
            </div>
        </script>

        <div ui-tree="treeOptions" class="hierarchy">
            <ul ui-tree-nodes ng-model="tasks" class="hierarchy">
                <li ui-tree-node ng-repeat="task in tasks" class="hierarchy-item" ng-include="'hierarchy.html'"></li>
            </ul>
        </div>

        <div ng-if="tasks.length == 0">
                You have no tasks to display
        </div>
        <br/>
        <div>
                <!--<p class="text-primary"><a href="javascript:alert('TODO')">+ Add Task</a></p>-->
            <p><!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#todoform-modal" ng-click="openNewTaskForm()">-->
                <button type="button" class="btn btn-primary" ng-click="createInplaceTaskForm()" ng-show="addTaskEnabled">
                + Add Task</button></p>
        </div>
    </div>
</div>
