@(tree:models.TodoTree)
<!-- Display todo-->

<!-- Recursive definition of Hierarchy -->
@hierarchy(todoNode:models.TodoNode) = {
    <li class="hierarchy-item">@partials.hierarchyitem(todoNode.todo.name, !todoNode.children.isEmpty)
        @if(!todoNode.children.isEmpty) {
            <ul class="hierarchy">
            @todoNode.children.foreach { child =>
                @hierarchy(child)
            }
            </ul>
        }
    </li>
}

@if(!tree.children.isEmpty) {
    <div class="hierarchy">
        <ul class="hierarchy">
            @tree.children.foreach { child =>
                @hierarchy(child)
            }
        </ul>
    </div>
}

<!--
<div class="hierarchy">
    <ul class="hierarchy">
        <li class="hierarchy-item">@partials.hierarchyitem("Design and UX issues")</li>
        <li class="hierarchy-item">@partials.hierarchyitem("Server-side implementation", true)
            <ul class="hierarchy">
                <li class="hierarchy-item">@partials.hierarchyitem("authentication")</li>
                <li class="hierarchy-item">@partials.hierarchyitem("Authorization", true)
                    <ul class="hierarchy">
                        <li class="hierarchy-item">@partials.hierarchyitem("API should block unauhorized")</li>
                        <li class="hierarchy-item">@partials.hierarchyitem("main page should provide unauhorized access")</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="hierarchy-item">@partials.hierarchyitem("Client-side implementation")</li>
    </ul>
</div>
-->
