@(todoTree: models.TodoTree)

@layouts.main("willing.to.do") {
    <header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container-fluid">
            <nav class="collapse navbar-collapse bs-navbar-collapse row">
                <div class="col-md-4 left-sidebar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@routes.Application.index()">W.T.D</a>
                        </li>
                        <li>
                            <a href="javascript:alert('TODO')">About</a>
                        </li>
                        <li>
                            <a href="javascript:alert('TODO')">Help</a>
                        </li>
                            <!--<li>
                <form role="search">
                    <input type="text" class="form-control" placeholder="Filter">
                </form>
            </li>-->
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:alert('TODO')">
                            Settings</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Profile <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@routes.AccountController.index()">
                                    Edit</a></li>
                                <li class="divider"></li>
                                <li><a href="@routes.Application.logout()">
                                    Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div ng-controller="Init"></div>

    <div id="top-container" class="container">
        <div class="row">
            <div id="left-sidebar" class="col-xs-4">

                <div id="unified-views" class="list-group" ng-controller="ViewCtrl">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="" ng-click=""><span class="glyphicon glyphicon-inbox"></span>
                            Inbox<span class="badge pull-right">{{inbox.count}}</span></a></li>
                        <li><a href="" ng-click=""><span class="glyphicon glyphicon-time"></span>
                            Priority<span class="badge pull-right">{{priority.count}}</span></a></li>
                        <li><a href="" ng-click=""><span class="glyphicon glyphicon-heart"></span>
                            Willing<span class="badge pull-right">{{willing.count}}</span></a></li>
                    </ul>
                </div>
                <div id="individual-views">
                    <div role="tabpanel">
                            <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">
                                Projects</a></li>
                            <li role="presentation"><a href="#labels" aria-controls="labels" role="tab" data-toggle="tab">
                                Labels</a></li>
                        </ul>

                            <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="projects">
                                @partials.projectview()
                            </div>
                            <div role="tabpanel" class="tab-pane" id="labels">
                                @partials.labelview()
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-8" id="right-div">
                <div id="pomodoro" class="alert alert-warning">
                    <a href="" class="" role="alert"
                    "><span class="glyphicon glyphicon-fire"></span>
                    Pomodoro Timer Active</a>
                        <!-- <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                  </div>
                </div>
                -->
                </div>
                @partials.todoview()

            </div>
        </div>
        @partials.todoform()
    </div>

    <script type="text/javascript">

    // our data to start with
    var tasks = [
        {id: -1, name: "<FORM>"},
        {id: 0, name: "<ROOT>", children: [1]},
        {id: 1, name: "code", parent: 0, children: [2]},
        {id: 2, name: "Willing.to.do", parent: 1, children:[3,4,9]},
        {id: 3, name: "Design and UX issues", parent: 2},
        {id: 4, name: "Server-side implementation", parent: 2, children: [5,6]},
        {id: 5, name: "authentication", parent: 4},
        {id: 6, name: "authorization", parent: 4, children: [7,8]},
        {id: 7, name: "API should block unauthorized", parent: 6},
        {id: 8, name: "main page should provide unauthorized access", parent: 6},
        {id: 9, name: "Client-side implementation", parent: 2, children: [10]},
        {id: 10, name: "angularjs integration", parent: 9}
    ]

    function getTasksById()
    {
        var byId = {}
        _(tasks).each(function(task){
            byId[task.id] =  task
        })
        return byId
    }

    var tasksById = getTasksById()

    function createTask(name, deadline, parentId, position = -1) {
        var newId = _(tasks).max(function(task) {
            return task.id
        }).id + 1

        var newTask = {id: newId, name: name, parent: parentId, deadline: deadline}
        tasks.push(newTask)

        // TODO: want to insert at specific position
        if(parentId)  {
            if(typeof(tasksById[parentId].children) == 'undefined')
                tasksById[parentId].children = [newId]
            else  {
                if(position >= 0)
                    tasksById[parentId].children.splice(position, 0, newId)
                else
                    tasksById[parentId].children.push(newId)
            }
        }
    }

    function reorderTask(id, parentId, index, newIndex) {
        if(!parentId)
            parentId = 0
        var arr = tasksById[parentId].children
        var target = tasksById[parentId].children[index]
        arr.splice(index, 1) // remove at old index
        arr.splice(newIndex, 0, target) // insert at new index
    }

    function moveTask(id, parentId, index, newParentId, newIndex) {
        var arr = tasksById[parentId].children
        var newArr = tasksById[newParentId].children
        var target = tasksById[parentId].children[index]
        // set new parent
        tasksById[target].parent = newParentId

        arr.splice(index, 1) // remove at old index
        if(arr.length == 0)
            delete tasksById[parentId].children

        if(newArr)
            newArr.splice(newIndex, 0, target) // insert at new index
        else
            tasksById[newParentId].children = [target] // create new children array
    }

    function deleteTask(id) {
        if(tasksById[id].parent > 0)
        {
            var parent = tasksById[tasksById[id].parent]
            parent.children = _(parent.children).without(id)
        }

        tasks = _(tasks).reject(function(task) {
            return task.id == id
        })


    }

    var getRootLevelTasks = function() {
        return _(tasks).filter(function(task) {
            return task.parent == 0
        })
    }

    var labels = []

    var scopeTask = tasksById[2]

    function getAncestry(task) {
        var ancestry = []
        var parent = typeof(task.parent) != 'undefined' ? tasksById[task.parent] : task.parent
        // traverse up recursively
        while(typeof(parent) != 'undefined' && parent.id != 0) {
            ancestry.unshift(parent)
            parent = typeof(parent.parent) != 'undefined' ? tasksById[parent.parent] : parent.parent
        }
        ancestry.push(task) // ancestry includes self
        return ancestry
    }

    function buildTree(task) {
        var taskTree = {id: task.id, name: task.name, parent: task.parent, children: []}

        taskTree.children = _(task.children).map(function(childId){
            return buildTree(tasksById[childId])
        })
        return taskTree
    }

    // for displaying projects
    function buildLeaflessTree(task)
    {
        var taskTree = {id: task.id, name: task.name, parent: task.parent, children: []}

        taskTree.children = _(_(task.children).map(function(childId){
            if(tasksById[childId].children)
                return buildLeaflessTree(tasksById[childId])
            else
                return null
        })).compact()
        return taskTree
    }

    var app = angular.module("App", ['ui.tree'])

    app.controller("Init", ['$scope', '$rootScope', function($scope, $rootScope){
        // update base array
        $rootScope.$on('taskChange', function(event, flag) {
            tasksById = getTasksById()
            console.log('taskChange')
        })

        $rootScope.$on('openNewTaskForm', function(event, flag) {
            console.log('openNewTaskForm')
        })

        $rootScope.$on('scopeChange', function(event, flag) {
            console.log('scopeChange')
        })

    }])

    app.controller("ViewCtrl", function($scope) {
        $scope.inbox = {count:5}
        $scope.priority = {count:1}
        $scope.willing = {count:1}
    })

    app.controller("ProjectCtrl", ['$scope', '$rootScope', function($scope, $rootScope) {
        function buildProjects() {
            return _(getRootLevelTasks()).map(function(task) {
                return buildLeaflessTree(task)
            })
        }

        $scope.isCurrentProject = function(project) {
             return project.id == scopeTask.id
         }

        $scope.projects = buildProjects()

        $scope.setCurrentProject = function(taskid) {
            var task = tasksById[taskid]
            scopeTask = task
            $rootScope.$emit('scopeChange', task)
        }

        $rootScope.$on('taskChange', function(event, flag) {
            console.log('updating projects', tasks)
            $scope.projects = buildProjects()
        })
    }])

    app.controller("LabelCtrl", function($scope) {
        $scope.labels = labels
    })

    app.controller("TaskForm", ['$scope', '$rootScope', function($scope, $rootScope) {
        $scope.create = function() {
            createTask($scope.name, $scope.deadline, $scope.parentId)
            $rootScope.$emit('taskChange')
        }

        $scope.init = function(parentId) {
            $scope.name = ""
            $scope.deadline = Date.now().toString()
            $scope.parentId = parentId
            console.log(parentId)
        }

        $rootScope.$on('openNewTaskForm', function(event) {
            $scope.init(scopeTask.id)
        })
    }])

    app.controller("TaskCtrl", ['$scope', '$rootScope', function($scope, $rootScope) {

        $scope.addTaskEnabled = true

        $scope.treeOptions = {
            dropped: function(event) {
                // only when node dropped to non-self
                if(event.source.nodesScope != event.dest.nodesScope || event.source.index != event.dest.index)
                {
                    var id = event.source.nodeScope.$modelValue.id
                    var parentId = event.source.nodesScope.$nodeScope ? event.source.nodesScope.$nodeScope.$modelValue.id : null
                    var newParentId = event.dest.nodesScope.$nodeScope ? event.dest.nodesScope.$nodeScope.$modelValue.id : null
                    var index = event.source.index
                    var newIndex = event.dest.index
                    console.log("dropped: ",
                        "id:", id,
                        "parentId:", parentId,
                        "newParentId:", newParentId,
                        "index:", event.source.index,
                        "newIndex:", event.dest.index)

                    if(parentId == null) {
                        console.log("null parent:", parentId, scopeTask.id)
                        parentId = scopeTask.id
                    }
                    if(newParentId == null)  {
                        console.log("null new parent:", newParentId, scopeTask.id)
                        newParentId = scopeTask.id
                    }

                    if(parentId == newParentId)
                        reorderTask(id, parentId, index, newIndex)
                    else
                        moveTask(id, parentId, index, newParentId, newIndex)

                    $rootScope.$emit('taskChange', true)
                }
                //console.log("tasks updated: ", tasks)
            }
        }

        $scope.setCurrentScope = function(task) {
            $scope.breadcrumb = getAncestry(task)
            $scope.tasks = _(task.children).map(function(childId) {
                return buildTree(tasksById[childId])
            })
        }

        $scope.toggleChildren = function(scope) {
            console.log(scope)
            scope.collapsed = scope.collapsed ? false : true
        }

        $scope.setCurrentScope(scopeTask)

        $scope.openNewTaskForm = function() {
            $rootScope.$emit('openNewTaskForm')
        }

        $scope.createInplaceTaskForm = function() {
           // place <FORM> node into the tree
           $scope.formTask = tasksById[-1]
           $scope.formTask.tempName = ""
           scopeTask.children.push(-1)
           $scope.formTask.parent = scopeTask.id
           // emit taskchange
           $rootScope.$emit('taskChange')
           $scope.addTaskEnabled = false

           setTimeout(function() {
                $('#task-inplace-form').focus()
                console.log('GO')
            },100)
        }

        $scope.confirmCreateNewTask = function() {
            var formTask = tasksById[-1]
            var parentTask = tasksById[formTask.parent]
            var position = _(parentTask.children).indexOf(-1)
            // remove form task in the children list first
            parentTask.children = _(parentTask.children).without(-1)
            // next it will take care of the position
            createTask(formTask.tempName, formTask.deadline, formTask.parent, position)

            $rootScope.$emit('taskChange')
            $scope.addTaskEnabled = true
        }

        $scope.deleteTask = function(taskId) {
            deleteTask(taskId)
            $rootScope.$emit('taskChange')
        }

        // event handlers
        $rootScope.$on('scopeChange', function(event, task) {
            $scope.setCurrentScope(task)
        })

        $rootScope.$on('taskChange', function(event, flag) {
            if(!flag)
            {
                if(scopeTask.children)  {
                    $scope.tasks = _(scopeTask.children).map(function(childId) {
                        return buildTree(tasksById[childId])
                    })
                }
            }
        })

    }])
    </script>
}