@(todoTree: models.TodoTree)

@layouts.main("willing.to.do") {

    <!-- banner -->
    <header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container-fluid">
            <nav id="navigation-bar" class="collapse navbar-collapse bs-navbar-collapse row">
                <div id="navigation-bar-left" class="col-md-4 left-sidebar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@routes.Application.index()">W.T.D</a>
                        </li>
                        <li>
                            <a href="javascript:alert('TODO')">About</a>
                        </li>
                        <li>
                            <a href="javascript:alert('TODO')">Help</a>
                        </li>
                    <!--<li>
                            <form role="search">
                                <input type="text" class="form-control" placeholder="Filter">
                            </form>
                        </li>-->
                    </ul>
                </div>
                <div id="navigation-bar-right" class="col-md-8">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:alert('TODO')">
                            Settings</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Profile <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@routes.AccountController.index()">
                                    Edit</a></li>
                                <li class="divider"></li>
                                <li><a href="@routes.Application.logout()">
                                    Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="top-container" class="container">
        <div class="row">
            <div id="left-sidebar" class="col-xs-4">

                <div id="unified-views" class="list-group" ng-controller="ViewController">
                    <ul class="nav nav-pills nav-stacked" role="tablist">
                        <li role="presentation" class="active"><a href="#inbox-view" aria-controls="inbox-view" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-inbox"></span>
                            Inbox<span class="badge pull-right" ng-cloak>{{inbox.count}}</span></a></li>
                        <li role="presentation"><a href="#priority-view" aria-controls="priority-view" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-time"></span>
                            Priority<span class="badge pull-right" ng-cloak>{{priority.count}}</span></a></li>
                        <li role="presentation"><a href="#willing-view" aria-controls="willing-view" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span>
                            Willing<span class="badge pull-right" ng-cloak>{{willing.count}}</span></a></li>
                        <li role="presentation"><a href="#project-view" aria-controls="project-view" role="tab" data-toggle="tab" id="project-view-tab"><span class="glyphicon glyphicon-folder-close"></span>
                            Projects</a></li>
                    </ul>
                </div>
                <div id="individual-views">
                    <div role="tabpanel">
                            <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">
                                Projects</a></li>
                            <li role="presentation"><a href="#labels" aria-controls="labels" role="tab" data-toggle="tab">
                                Labels</a></li>
                        </ul>

                            <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="projects">
                                @partials.projectview()
                            </div>
                            <div role="tabpanel" class="tab-pane" id="labels">
                                @partials.labelview()
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-8" id="right-div">
                <div id="pomodoro" class="alert alert-warning">
                    <a href="" class="" role="alert"
                    "><span class="glyphicon glyphicon-fire"></span>
                    Pomodoro Timer Active</a>
                        <!-- <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                  </div>
                </div>
                -->
                </div>
                <div id="taskview-wrap">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="inbox-view">
                            inbox
                        </div>
                        <div role="tabpanel" class="tab-pane" id="priority-view">
                            priority
                        </div>
                        <div role="tabpanel" class="tab-pane" id="willing-view">
                            willing
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="project-view">
                            @partials.taskview()
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="taskform-wrap">
            @partials.taskform()
        </div>
    </div>
}
