@(profileForm:Form[Option[User.Frozen]])
@layouts.basic("Edit Profile") {
  <header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container-fluid">
      <nav class="collapse navbar-collapse bs-navbar-collapse row">
        <div class="col-md-4 left-sidebar">
          <ul class="nav navbar-nav">
            <li>
              <a href="">W.T.D</a>
            </li>
            <li>
              <a href="">About</a>
            </li>
            <li>
              <a href="">Help</a>
            </li>
              <!--<li>
		        	<form role="search">
					    <input type="text" class="form-control" placeholder="Filter">
					</form>
		        </li>-->
          </ul>
        </div>

      </nav>
    </div>
  </header>

  <div id="top-container" class="container">
    <div class="well">
    @partials.profile(profileForm)
    </div>
  </div>
}